// Variables de color
//Colores de día
$diaPrimario: #a6cf69;
$diaSecundario: #98b460;
$diaAcento1: #092715;
$diaAcento2: #177d87;
$diaFondo: #b5f0eb;

//Colores de noche
$nochePrimario: #1d3b25;
$nocheSecundario: #1f472e;
$nocheAcento1: #4a6e1d;
$nocheAcento2: #96ba4e;
$nocheFondo: #80b0a8;

//Variables de fonts
$mochiy: Mochiy Pop One;
$antique: Zen Antique;
$maru: Zen Maru Gothic;
